{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mon site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  

</head>
<!-- ===== BOUTON WHATSAPP FLOTTANT ===== -->
<a href="https://wa.me/2250757018603?text=Bonjour%20Tinese%20Market%2C%20je%20souhaite%20un%20renseignement"
   class="whatsapp-float"
   target="_blank"
   aria-label="Contact WhatsApp">
    💬
</a>

<body>

    <!-- ===== HEADER / MENU ===== -->
    <nav>
        <button class="menu-toggle" onclick="document.body.classList.toggle('menu-open')">
        ☰
        </button>

        <a href="{% url 'home' %}" class="logo">Tinese-Market</a>

        <a href="{% url 'shop' %}">Boutique</a>

        <!-- PANIER -->
        <a href="{% url 'cart_detail' %}" class="cart-link">
            🛒
            {% if request.session.cart %}
                <span class="cart-badge">
                    {{ request.session.cart|length }}
                </span>
            {% endif %}
        </a>

        <!-- COMPTE -->
         {% if user.is_authenticated %}
            <span>Bonjour {{ user.username }}</span>
            <a href="{% url 'logout' %}">Déconnexion</a>
             <a href="{% url 'my_orders' %}">👤 Mon compte</a>
        {% else %}
            <a href="{% url 'register' %}">Inscription</a>
            <a href="{% url 'login' %}">Connexion</a>
        {% endif %}

        
    </nav>

    <!-- ===== CONTENU ===== -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- ===== FOOTER ===== -->
    <footer class="footer">
    <div class="footer-grid">

        <div>
            <h3>Tinese Market</h3>
            <p>Mode & artisanat africain authentique.</p>
        </div>

        <div>
            <h4>Navigation</h4>
            <a href="{% url 'home' %}">Accueil</a>
            <a href="{% url 'shop' %}">Boutique</a>
            <a href="{% url 'cart_detail' %}">Panier</a>
        </div>

        <div>
            <h4>Contact</h4>

            <p>
                📱 WhatsApp :
                <a href="https://wa.me/2250757018603" target="_blank">
                    +225 07 57 01 86 03
                </a>
            </p>

            <p>
                📘 Facebook :
                <a href="https://www.facebook.com/tinesemarket" target="_blank">
                    Tinese Market
                </a>
            </p>

            <p>Email : tinesemarket@gmail.com</p>
        </div>


    </div>

    <div class="footer-bottom">
        © Tinese Market — Tous droits réservés
    </div>
</footer>


</body>

</html>
